:root {
    /* --main-color:; */
    --main-transition: 0.3s;
    --botton-color: #0075ff;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}


* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1f5f9;
    min-height: 100vh;
}

/* start main container */
.main-container {
    display: flex;
    flex-wrap: nowrap;
    text-transform: capitalize;
    position: relative;
}

/* start side bar */

.main-container .side-content .side-bar {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 2px -2px 10px 0px rgb(0 0 0 / 25%);
    background-color: white;
}

@media(max-width:767px) {
    .main-container .side-bar {
        width: 60px;
    }
}

@media(min-width:768px) {
    .main-container .side-bar {
        width: 200px;
    }
}

.main-container .side-bar h3 {
    width: 100%;
    text-align: center;
    position: relative;
}

@media(max-width:766px) {
    .main-container .side-bar h3 {
        font-size: 16px;
    }
}

.main-container .side-bar h3::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    background-color: black;
    bottom: -21px;
    left: 50%;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
}

@media(max-width:766px) {
    .main-container .side-bar h3::before {
        width: 50px;
    }
}

.main-container .side-bar h3::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border: 5px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    bottom: -30px;
    left: 50%;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
    background-color: black;
}

@media(max-width:766px) {
    .main-container .side-bar h3::after {
        width: 10px;
        height: 10px;
        border-width: 3px;
        bottom: -28px;
    }
}

.main-container .side-bar ul {
    width: 100%;
    padding: 0 20px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media(max-width:767px) {
    .main-container .side-bar ul {
        padding: 0px 10px;
    }
}

.main-container .side-bar ul li a {
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.main-container .side-bar ul li .selected {
    background-color: #eee;
}


.main-container .side-bar ul li a:hover {
    background-color: #eee;
}

@media(max-width:766px) {
    .main-container .side-bar ul li span {
        display: none;
    }
}

/* end side bar */

/* start container */
.main-container .container {
    display: flex;
    flex-direction: column;
    flex: 1;

}


/* start nav */
.main-container .container .nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    height: 60px;
    background-color: white;
    padding: 20px;

}

.main-container .container .nav::before {
    position: absolute;
    content: "\f002";
    font-family: "font awesome 5 free";
    font-weight: 900;
    color: #777;
    font-size: 15px;
    height: 20px;
    width: 20px;
    left: 25px;
    top: 21px;
}

.main-container .container .nav input {
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    padding: 10px 0 10px 25px;
    width: 150px;
    height: 35px;
    font-size: 12px;
    border: 1px solid #777;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.main-container .container .nav input:focus {
    width: 200px;
    outline: none;
}

.main-container .container .nav input:focus::placeholder {
    color: white;
}

.main-container .container .nav .nav-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.main-container .container .nav .nav-icons i {
    font-size: 22px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.main-container .container .nav .nav-icons::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #f44336;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    left: 11px;
    top: 0px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    z-index: 2;
}

.main-container .container .nav .nav-icons:hover::before,
.main-container .container .nav .nav-icons i:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.main-container .container .nav .nav-icons img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.main-container .container .nav .nav-icons img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/* end nav */
/* start welcome text */
.main-container .container .welcome-text {
    padding: 20px;
    position: relative;
}

.main-container .container .welcome-text::before {
    position: absolute;
    content: "";
    width: 120px;
    height: 3px;
    bottom: 10px;
    left: 20px;
    background-image: linear-gradient(to right, black 30%, white 30%);
}

.main-container .container .welcome-text h1 {
    margin: 0;
    font-weight: bold;
}

/* end welcome text */
/* start content */
.main-container .container .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

@media (max-width:766px) {
    .main-container .container .content {
        display: grid;
        grid-template-columns: minmax(260px, 1fr);
        padding: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
}




/* main-box */
.main-container .container .content>.box {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: white;
    position: relative;
}


/* start welcome box */
.main-container .container .content .welcome {
    display: flex;
    flex-direction: column;

}

@media(max-width:766px) {
    .main-container .container .content .welcome {
        align-items: center;
    }
}

.main-container .container .content .welcome .welcome-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #eee;
    padding: 20px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}

.main-container .container .content .welcome .welcome-head .text {
    display: flex;
    flex-direction: column;
}

.main-container .container .content .welcome .welcome-head .text h2 {
    margin: 0;
    font-size: 26px;
    font-weight: bold;
}

.main-container .container .content .welcome .welcome-head .text p {
    color: #777;
    margin: 20px 0 20px;
    font-size: 20px;
}

.main-container .container .content .welcome .welcome-head img {
    width: 200px;
}

@media(max-width:766px) {
    .main-container .container .content .welcome .welcome-head img {
        display: none;
    }
}

.main-container .container .content .welcome .image-holder {
    position: relative;
    width: 70px;
    border: 5px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: 10px;
    top: -35px;
}

.main-container .container .content .welcome .image-holder img {
    width: 100%;
}

.main-container .container .content .welcome .welcome-body {
    display: flex;
    justify-content: space-around;
    text-align: center;
    border: 1px solid;
    border-color: #eee transparent;
    padding: 20px;
    width: 100%;
}

@media(max-width:766px) {
    .main-container .container .content .welcome .welcome-body {
        flex-direction: column;
    }
}

.main-container .container .content .welcome .welcome-body div span {
    color: #777;
}

/* profile-button */
.button-link {
    background-color: var(--botton-color);
    display: block;
    width: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 30px;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    align-self: flex-end;
    margin: 15px 20px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.button-link:hover {
    background-color: #0065d8;
}

/* end welcome box */
/* start draft box */
.main-container .container .content .draft {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
}



.main-container .container .content .draft h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 10px;
}

.main-container .container .content .draft p {
    color: #777;
    margin: 0 0 15px;
}

.main-container .container .content .draft input:first-of-type {
    width: 100%;
    height: 40px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    background-color: #eee;
    border: none;
    outline: none;
    margin-bottom: 20px;
    padding: 5px 20px;
}

.main-container .container .content .draft textarea {
    width: 100%;
    height: 200px;
    background-color: #eee;
    border: none;
    outline: none;
    resize: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
}

.main-container .container .content .draft input:last-child {
    cursor: pointer;
    border: none;
}

/* end draft box */
/* start target box */
.main-container .container .content .target {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;

}

.main-container .container .content .target h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.main-container .container .content .target>p {
    color: #777;
    margin: 0 0 15px;
}

.main-container .container .content .target .target-box {
    display: flex;
    align-items: center;
}

/* first */
.main-container .container .content .target .target-box:first-of-type i {
    font-size: 35px;
    background-color: #cce3ff;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #009dff;
}

/* second */
.main-container .container .content .target .target-box:nth-of-type(2) i {
    font-size: 35px;
    background-color: #fdecce;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f59e0b;
}

/* third */
.main-container .container .content .target .target-box:last-of-type i {
    font-size: 35px;
    background-color: #d3f3df;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #22c55e;
}

.main-container .container .content .target .target-box .text {
    flex: 1;
    position: relative;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.main-container .container .content .target .target-box .text span:first-child {
    color: rgb(104, 102, 102);
    font-weight: bold;
    margin-bottom: 10px;
}

.main-container .container .content .target .target-box .text span:nth-child(2) {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.main-container .container .content .target .target-box .text span:last-child {
    width: 100%;
    height: 5px;
    position: relative;

}

.main-container .container .content .target .target-box .text span:last-child::before {
    position: absolute;
    width: 35px;
    height: 20px;
    border-radius: 7px;
    font-size: 14px;
    background-color: black;
    top: -35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    z-index: 2;
}

.main-container .container .content .target .target-box .text span:last-child::after {
    position: absolute;
    content: "";
    top: -25px;
    border: 17px solid;
    z-index: 1;

}



/* first  */
.main-container .container .content .target .target-box:first-of-type .text span:last-child {
    background-image: linear-gradient(to right, #009dff 80%, #bbb 80%);
}

.main-container .container .content .target .target-box:first-of-type .text span:last-child::before {
    left: calc(80% - 17.5px);
    content: "80%";
    background-color: #009dff;

}

.main-container .container .content .target .target-box:first-of-type .text span:last-child::after {
    left: calc(80% - 17.5px);
    border-color: #009dff transparent transparent;

}



/* second  */

.main-container .container .content .target .target-box:nth-of-type(2) .text span:last-child {
    background-image: linear-gradient(to right, #f59e0b 55%, #bbb 55%);


}

.main-container .container .content .target .target-box:nth-of-type(2) .text span:last-child::before {
    left: calc(55% - 17.5px);
    background-color: #f59e0b;
    content: "55%";
}

.main-container .container .content .target .target-box:nth-of-type(2) .text span:last-child::after {
    left: calc(55% - 17.5px);
    border-color: #f59e0b transparent transparent;
}

/* third  */

.main-container .container .content .target .target-box:last-of-type .text span:last-child {
    background-image: linear-gradient(to right, #22c55e 75%, #bbb 75%);
}

.main-container .container .content .target .target-box:last-of-type .text span:last-child::before {
    left: calc(75% - 17.5px);
    content: "75%";
    background-color: #22c55e;

}

.main-container .container .content .target .target-box:last-of-type .text span:last-child::after {
    left: calc(75% - 17.5px);
    border-color: #22c55e transparent transparent;
}


/* end target box */
/* start tickets box */
.main-container .container .content .tickets {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.main-container .container .content .tickets h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.main-container .container .content .tickets p {
    color: #777;
    margin: 0 0 15px;
}

.main-container .container .content .tickets .tickets-boxs {
    display: grid;
    grid-template-columns: repeat(2, minmax(210px, 1fr));
    gap: 10px;
}

@media (max-width:766px) {
    .main-container .container .content .tickets .tickets-boxs {
        display: grid;
        grid-template-columns: minmax(230px, 1fr);
        gap: 10px;
    }
}


.main-container .container .content .tickets .tickets-boxs .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border: 1px solid #777;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.main-container .container .content .tickets .tickets-boxs .box i {
    font-size: 28px;

}

.main-container .container .content .tickets .tickets-boxs .box:first-child i {
    color: #ff6600;
}

.main-container .container .content .tickets .tickets-boxs .box:nth-child(2) i {
    color: #0065d8;
}

.main-container .container .content .tickets .tickets-boxs .box:nth-child(3) i {
    color: green;
}

.main-container .container .content .tickets .tickets-boxs .box:last-child i {
    color: red;
}



.main-container .container .content .tickets .tickets-boxs .box span:first-of-type {
    font-size: 28px;
    font-weight: bold;
}

.main-container .container .content .tickets .tickets-boxs .box span:last-of-type {
    color: #777;
}

/* end tickets box */
/* start news box*/
.main-container .container .content .news {
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.main-container .container .content .news>h3 {
    font-size: 26px;
    margin: 0px;

}

.main-container .container .content .news .box {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px 0;
}

@media(max-width:766px) {
    .main-container .container .content .news .box {
        flex-direction: column;
        text-align: center;

    }

}



.main-container .container .content .news .box:not(:last-child) {
    border-bottom: 1px solid #ddd;
}


.main-container .container .content .news .box img {
    width: 100px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}


.main-container .container .content .news .box .text h3 {
    margin: 0 0 10px;
    font-weight: bold;
}

.main-container .container .content .news .box .text span {
    color: #777;
}

.main-container .container .content .news .box>span {
    padding: 5px;
    background-color: #eee;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    margin-left: auto;
}

@media(max-width:766px) {
    .main-container .container .content .news .box>span {
        margin: 0;
    }

}

/* end news box*/
/* start task box */
.main-container .container .content .tasks {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.main-container .container .content .tasks>h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.main-container .container .content .tasks .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 5px;

}

.main-container .container .content .tasks .box:nth-child(5) {
    opacity: 0.5;
}

.main-container .container .content .tasks .box:not(:last-child) {
    border-bottom: 1px solid #ddd;
}


.main-container .container .content .tasks .box:nth-child(5) .text {
    text-decoration: line-through;
}



.main-container .container .content .tasks .box .text h3 {
    margin: 0 0 10px;
}

.main-container .container .content .tasks .box .text span {
    color: #777;
}

.main-container .container .content .tasks .box i {
    cursor: pointer;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.main-container .container .content .tasks .box i:hover {
    color: red;
}


/* end task box */
/* start search box */
.main-container .container .content .search {
    padding: 20px;

}

.main-container .container .content .search h3 {
    font-size: 26px;
    margin: 0 0 20px;
}

.main-container .container .content .search table {
    width: 100%;

}

.main-container .container .content .search table thead {
    font-size: 20px;
    font-weight: bold;
    color: #777;
}

.main-container .container .content .search table tr td:first-child {
    text-align: left;
    padding: 10px;
    font-size: 22px;
}

.main-container .container .content .search table tr td:last-child {
    text-align: right;
}

.main-container .container .content .search table tbody tr td:last-child span {
    padding: 5px 10px;
    background-color: #eee;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

/* end search box */
/* start upload box */
.main-container .container .content .upload {
    padding: 20px;
}

.main-container .container .content .upload h3 {

    font-size: 24px;
    font-weight: bold;
    margin: 0 0 20px;
}

.main-container .container .content .upload .upload-content {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.main-container .container .content .upload .upload-content .upload-box {
    display: flex;
    align-items: center;
    gap: 10px;

}

.main-container .container .content .upload .upload-content .upload-box img {
    width: 40px;
}

.main-container .container .content .upload .upload-content .upload-box .upload-text {
    display: flex;
    flex-direction: column;
}

.main-container .container .content .upload .upload-content .upload-box .upload-text span:first-child {}

.main-container .container .content .upload .upload-content .upload-box .upload-text span:last-child {
    color: #777;
}

.main-container .container .content .upload .upload-content .upload-box>span {
    padding: 5px 10px;
    background-color: #eee;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
}

/* end upload box */
/* start last-projects */
.main-container .container .content .last-projects {
    padding: 20px;
    position: relative;
}

.main-container .container .content .last-projects h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 20px;
}

.main-container .container .content .last-projects .box-content {}

.main-container .container .content .last-projects .box-content ul {
    margin-top: 30px;
    padding: 0;
}

.main-container .container .content .last-projects .box-content ul li {
    padding: 15px 0 15px 50px;
    font-size: 20px;
    position: relative;
}

.main-container .container .content .last-projects .box-content ul li::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--botton-color);
    border: 2px solid white;
    outline: 2px solid var(--botton-color);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 2;
}

.main-container .container .content .last-projects .box-content ul li:nth-last-child(2)::before {
    animation: progress 1.5s linear infinite;
    -webkit-animation: progress 1.5s linear infinite;
}


.main-container .container .content .last-projects .box-content ul li:last-child::before {
    background-color: white;
}

.main-container .container .content .last-projects .box-content ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 11px;
    bottom: -31px;
    width: 3px;
    height: 62px;
    background-color: var(--botton-color);
    z-index: 1;


}


@keyframes progress {
    0% {
        background-color: var(--botton-color);
    }

    50% {
        background-color: white;
    }

    100% {
        background-color: var(--botton-color);
    }
}





.main-container .container .content .last-projects .box-content img {
    width: 150px;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.3;
}

/* end last-projects */

.main-container .container .content .reminders {
    padding: 20px;
    position: relative;
}

.main-container .container .content .reminders h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 20px;
}

.main-container .container .content .reminders .reminders-content {
    padding: 0;
}

.main-container .container .content .reminders .reminders-content .reminder {
    padding: 0 15px;
    margin-bottom: 20px;
    margin-left: 40px;
    position: relative;
}

.main-container .container .content .reminders .reminders-content .reminder:first-child {
    border-left: 2px solid var(--botton-color);
}

.main-container .container .content .reminders .reminders-content .reminder:nth-child(2) {
    border-left: 2px solid var(--green-color);
}

.main-container .container .content .reminders .reminders-content .reminder:nth-child(3) {
    border-left: 2px solid var(--orange-color);
}

.main-container .container .content .reminders .reminders-content .reminder:last-child {
    border-left: 2px solid var(--red-color);
}

.main-container .container .content .reminders .reminders-content .reminder::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: -35px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.main-container .container .content .reminders .reminders-content .reminder:first-child::before {
    background-color: var(--botton-color);
}

.main-container .container .content .reminders .reminders-content .reminder:nth-child(2)::before {
    background-color: var(--green-color);
}

.main-container .container .content .reminders .reminders-content .reminder:nth-child(3)::before {
    background-color: var(--orange-color);
}

.main-container .container .content .reminders .reminders-content .reminder:last-child::before {
    background-color: var(--red-color);
}



.main-container .container .content .reminders .reminders-content .reminder h4 {
    margin: 0 0 10px;
}

.main-container .container .content .reminders .reminders-content .reminder span {
    color: #777;
}


/* start latest post */
.main-container .container .content .latest-post {
    padding: 20px;
}

.main-container .container .content .latest-post h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 20px;
}

.main-container .container .content .latest-post .post-content {
    display: flex;
    flex-wrap: wrap;
}

.main-container .container .content .latest-post .post-content .user {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--grey-color);
    width: 100%;
}

.main-container .container .content .latest-post .post-content .user img {
    width: 50px;
    margin-right: 20px;
}

.main-container .container .content .latest-post .post-content .user .user-text {}

.main-container .container .content .latest-post .post-content .user .user-text h3 {
    margin: 0 0 10px;
}

.main-container .container .content .latest-post .post-content .user .user-text span {
    font-size: 18px;
    color: #777;
}

.main-container .container .content .latest-post .post-content p {
    line-height: 1.7;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--grey-color);
    width: 100%;
}

.main-container .container .content .latest-post .post-content .post-status {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main-container .container .content .latest-post .post-content .post-status span {
    font-size: 20px;
    color: #777;
}

.main-container .container .content .latest-post .post-content .post-status span i {
    margin-right: 5px;
}

/* end latest post */
/* start social media */
.main-container .container .content .social-media-stats {
    padding: 20px;
}

.main-container .container .content .social-media-stats h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 20px;
}

.main-container .container .content .social-media-stats .social-content {}

.main-container .container .content .social-media-stats .social-content ul {
    padding: 0;
}

.main-container .container .content .social-media-stats .social-content ul li {
    padding-right: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    background-color: #0077ff56;
}

.main-container .container .content .social-media-stats .social-content ul li:nth-child(3) {
    background-color: rgba(255, 0, 0, 0.432);

}


.main-container .container .content .social-media-stats .social-content ul li .logo {
    background-color: var(--botton-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    margin-right: 20px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.main-container .container .content .social-media-stats .social-content ul li:nth-child(3) .logo {
    background-color: red;
}


.main-container .container .content .social-media-stats .social-content ul li .logo:hover {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}


.main-container .container .content .social-media-stats .social-content ul li .logo i {
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.main-container .container .content .social-media-stats .social-content ul li .text {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.main-container .container .content .social-media-stats .social-content ul li .text .status {
    color: var(--botton-color);
}

.main-container .container .content .social-media-stats .social-content ul li .text .status span {
    font-weight: 500;
}

.main-container .container .content .social-media-stats .social-content ul li .text a {
    padding: 5px 10px;
    color: white;
    background-color: var(--botton-color);
    display: flex;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.main-container .container .content .social-media-stats .social-content ul li:nth-child(3) .text a {
    background-color: red;
}


/* end social media */


/* start projects */
.main-container .container .projects {
    padding: 20px;
    background-color: white;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow-x: auto;

}

.main-container .container .projects h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 20px;
}

.main-container .container .projects .table-holder {
    max-width: 100%;
}



.main-container .container .projects table {
    border-collapse: collapse;
    min-width: 1000px;
}

.main-container .container .projects table thead {
    background-color: #ddd;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.main-container .container .projects table thead tr {
    font-size: 18px;
    font-weight: 500;
}

.main-container .container .projects table thead tr td {
    padding: 10px;

}

.main-container .container .projects table tbody {}

.main-container .container .projects table tbody tr {}

.main-container .container .projects table tbody tr td {
    position: relative;
    padding: 10px;
    border: 1px solid #ddd;
}

.main-container .container .projects table tbody tr td:nth-last-child(2) {}


.main-container .container .projects table tbody tr td img {
    width: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid white;
}

.main-container .container .projects table tbody tr td img:not(:first-child) {
    margin-left: -20px;
}

.main-container .container .projects table tbody tr td span {
    padding: 5px 10px;
    background-color: var(--orange-color);
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.main-container .container .projects table tbody tr:nth-child(2) td span {
    background-color: var(--botton-color);
}

.main-container .container .projects table tbody tr:nth-child(5) td span {
    background-color: var(--red-color);
}

.main-container .container .projects table tbody tr:nth-child(3) td span,
.main-container .container .projects table tbody tr:nth-child(4) td span,
.main-container .container .projects table tbody tr:nth-child(6) td span {
    background-color: var(--green-color);
}


/* end projects */
/* end content */